@{

    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="text-center">
    <h2>Your account has been created.</h2>
    <p>Thank you for confirming your email address. You can now start using the Admin.</p>
    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">Go Back</a>
</div>
