
@{
    ViewData["Title"] = "BuySellTransactionDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Transaction Details
            </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home">
                    <i class="flaticon2-shelter"></i>
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="buyDetail.html" class="kt-subheader__breadcrumbs-link">
                    Buy/Sell Details
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Transaction Detail
                </a>

                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>
        </div>
    </div>
</div>
<!-- end:: Subheader -->
<!-- begin:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Transaction Details
                </h3>
            </div>
        </div>

        <!--begin::Form-->
        <form class="kt-form">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>User Email</label>
                            <input type="text" class="form-control" disabled="disabled"
                                   value="Admin@gmail.com" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Order Reference Number</label>
                            <input type="text" class="form-control" disabled="disabled"
                                   value="ORDB/194">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Order Date</label>
                            <input type="datetime" class="form-control" disabled="disabled"
                                   value="12/02/2022 17:03">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Order Date</label>
                            <input type="text" class="form-control" disabled="disabled"
                                   value="Buy">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Currency Value</label>
                            <input type="text" class="form-control" disabled="disabled"
                                   value="1000 MVR">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Coin Value</label>
                            <input type="text" class="form-control" disabled="disabled"
                                   value="0.00016 BTC">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Commission (%)</label>
                            <input type="text" class="form-control" disabled="disabled"
                                   value="35.00">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Sender Crypto Address</label>
                            <input type="text" class="form-control" disabled="disabled"
                                   value="jidsr8ueufijij38rfejdj88393">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Bank Receipt Upload</label>
                            <br>
                            <button type="button" class="btn btn-outline-brand btn-elevate btn-pill"><i class="fas fa-eye"></i> Click here to  View</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleTextarea">Customer Remarks</label>
                            <textarea class="form-control" disabled="disabled" rows="3" value="sndjnsdj"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleTextarea">Employee Remarks</label>
                            <textarea class="form-control" disabled="disabled" rows="3" value="lkkmdkkde"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Approval Status </label><span class="kt-font-success ml-2">Arrival Time in 10 min</span>
                            <input type="text" class="form-control" disabled="disabled"
                                   value="Pending">
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <button type="reset" class="btn btn-primary">Hard Delete</button>
                </div>
            </div>
        </form>

        <!--end::Form-->
    </div>

</div>

<!-- end:: Content -->
