@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="kt-grid kt-grid--ver kt-grid--root kt-page">
    <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">

            <!--begin::Aside-->
            <div class="kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor kt-login__aside" style="background-image: linear-gradient(174deg, #fffdfd, #2479fe);">
                <div class="kt-grid__item">
                    <a href="#" class="kt-login__logo">
                        <img src="~/assets/media/logos/dhicoins-logo.png">
                    </a>
                </div>
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
                    <div class="kt-grid__item kt-grid__item--middle">
                        <h3 class="kt-login__title kt-font-dark">Welcome to Dhicoin!</h3>
                        <h4 class="kt-login__subtitle kt-font-dark">For More Information About Our Servies, Please Visit our website Frequently asked question page.</h4>
                    </div>
                </div>
                <div class="kt-grid__item">
                    <div class="kt-login__info">
                        <div class="kt-login__copyright kt-font-dark">
                            &copy 2018 Dhicoin
                        </div>
                        <div class="kt-login__menu">
                            <a href="#" class="kt-link kt-font-dark">Privacy</a>
                            <a href="#" class="kt-link kt-font-dark">Legal</a>
                            <a href="#" class="kt-link kt-font-dark">Contact</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--begin::Aside-->
            <!--begin::Content-->
            <div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">

                @* <!--begin::Head-->
                    <div class="kt-login__head">
                        <span class="kt-login__signup-label">Don't have an account yet?</span>&nbsp;&nbsp;
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="kt-link kt-login__signup-link">Sign Up!</a>
                    </div>*@

                <!--end::Head-->
                <!--begin::Body-->
                <div class="kt-login__body">

                    <!--begin::Signin-->
                    <div class="kt-login__form">
                        <div class="kt-login__title">
                            <h3>Reset Password</h3>
                        </div>

                        <!--begin::Form-->
                        <form method="post" id="kt_login_form">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Input.Code" type="hidden" />
                            <div class="form-floating">
                                <label asp-for="Input.Email" class="form-label font-weight-bold"></label>
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <label asp-for="Input.Password" class="form-label font-weight-bold"></label>
                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <label asp-for="Input.ConfirmPassword" class="form-label font-weight-bold"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            

                            @*<div class="form-group">
        <label asp-for="Input.Password" class="form-label"></label>
        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
                            *@
                            <!--begin::Action-->
                            <div class="kt-login__actions">

                                <button type="submit" class="w-22 btn  btn-primary">Reset</button>
                            </div>

                            <!--end::Action-->
                        </form>



                        <!--end::Options-->
                    </div>

                    <!--end::Signin-->
                </div>

                <!--end::Body-->
            </div>

            <!--end::Content-->
        </div>
    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
